<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('../templates/head.ejs') %>
    <link rel="stylesheet" href="/css/perfil-user.css" />
    <title><%- data.page_name %></title>
    <script src="/js/tabs-perfil.js" defer></script>
  </head>

  <body>
    <%- include('../templates/header-logo.ejs') %>

    <main>
      <section>
        <div class="pic-perfil">
          <a href="/editar-perfil" class="edit-perfil">
            <img src="/assets/perfil/edit-perfil.png" alt="edit-icon">Editar perfil
          </a>
        </div>
        <h2 class="titulo-perfil" id="logado">Olá <%- data.usuario.nome %>, seja <span>bem vindo!</span></h2>
        <h3 class="local"><%- data.usuario.cidade %> - <%- data.usuario.estado %></h3>
      </section>

      <hr class="linha-bio" />

      <div class="container">
        <div class="tabs">
          <h3 id="t-personais"  class="active" data-perfil-tab-title="personais">Meus Personais </h3>
          <h3 id="t-atividades" data-perfil-tab-title="atividades">Minhas Atividades</h3>
        </div>

        <!-- Personais Salvos -->
        <div class="tab-content">
          <div id="pSalvos" class="active" data-perfil-tab="personais">
            <h4>Personais Salvos</h4>
            <section class="container-personais">
              <div id="personais">
                <img src="/imagens/fernando.svg" />
                <div id="dados">
                    <h5>FERNANDO COUY</h5>
                    <p>São Paulo-SP</p>
                    <p>@fernando_personal</p>
                    <p>Profissional em CrossFit</p>
                </div>
                <div id="divSalvar"> 
                   <i class="bx bxs-bookmark" id="salvo"></i>
                </div>
            </div>

            <div id="personais">
              <img src="/imagens/yasmin.svg" />
              <div id="dados">
                  <h5>YASMIN BARRETO</h5>
                  <p>Jundiaí-SP</p>
                  <p>@yasminb.personal</p>
                  <p>Profissional em Ginástica</p>
              </div>
              <div id="divSalvar"> 
                 <i class="bx bxs-bookmark" id="salvo"></i>
              </div>
          </div>

          <div id="personais">
            <img src="/imagens/thiago.svg" />
            <div id="dados">
                <h5>THIAGO GOMES</h5>
                <p>Campinas -SP</p>
                <p>@gomes_thiagop</p>
                <p>Profissional em Atletismo</p>
            </div>
            <div id="divSalvar"> 
                <i class="bx bxs-bookmark" id="salvo"></i>
            </div>
        </div>
            </section>
          </div>

          <!-- Atividades -->
          <div id="atividades" data-perfil-tab="atividades">
            <h4>Seu Desenvolvimento</h4>
            <img src="/imagens/tempo_online.png">

            <img src="/imagens/calendario.png">
            <p>09/10 - Corrida no Parque</p>
            <p>20/10 - Pedalada no Centro</p>
            <p>22/10 - Encontro na Academia</p>

            <img src="/imagens/atividades_online.png">

          </div>
        </div>
      </div>
    </main>

    <%- include('../templates/footer.ejs') %>
  </body>
</html>