<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <%- include('../templates/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="/css/perfil-user.css" />
    <title><%- data.page_name %></title>
    <script src="/js/perfil/tabs-perfil.js" defer></script>
  </head>

  <body>
    <%- include('../templates/header-logo.ejs') %>

    <main>
      <section>
        <div class="pic-perfil">
          <a href="/editar-perfil" class="edit-perfil">
            <img src="/assets/perfil/edit-perfil.png" alt="edit-icon">Editar perfil
          </a>
        </div>
        <h2 class="titulo-perfil" id="logado">Olá <%- data.usuario.nome %>, seja <span>bem vindo!</span></h2>
      </section>

      <section class="bio">
        <div class="info-bio">
          <span class="clube">
            <h3 class="t-clube" style="color: #ff540b;">Estado</h3>
            <h4 class="text-clube"><%- data.usuario.estado %></h4>
          </span>
        </div>

      </section>
      <hr class="linha-bio" />

      <div class="container">
        <div class="tabs">
          <h3 id="t-personais"  class="active" data-perfil-tab-title="personais">Meus Personais </h3>
          <h3 id="t-atividades" data-perfil-tab-title="atividades">Minhas Atividades</h3>
        </div>

        <!-- Personais Salvos -->
        <div class="tab-content">
          <div id="pSalvos" class="active" data-perfil-tab="personais">
            <h4>Personais Salvos</h4>
            <section class="container-personais">
              <div id="personais">
                <img src="/imagens/fernando.svg" />
                <div id="dados">
                    <h5>FERNANDO COUY</h5>
                    <p>São Paulo-SP</p>
                    <p>@fernando_personal</p>
                    <p>Profissional em CrossFit</p>
                </div>
                <div id="divSalvar"> 
                   <i class="bx bxs-bookmark" id="salvo"></i>
                </div>
            </div>

            <div id="personais">
              <img src="/imagens/yasmin.svg" />
              <div id="dados">
                  <h5>YASMIN BARRETO</h5>
                  <p>Jundiaí-SP</p>
                  <p>@yasminb.personal</p>
                  <p>Profissional em Ginástica</p>
              </div>
              <div id="divSalvar"> 
                 <i class="bx bxs-bookmark" id="salvo"></i>
              </div>
          </div>

          <div id="personais">
            <img src="/imagens/thiago.svg" />
            <div id="dados">
                <h5>THIAGO GOMES</h5>
                <p>Campinas -SP</p>
                <p>@gomes_thiagop</p>
                <p>Profissional em Atletismo</p>
            </div>
            <div id="divSalvar"> 
                <i class="bx bxs-bookmark" id="salvo"></i>
            </div>
        </div>
            </section>
          </div>

          <!-- Atividades -->
          <div id="atividades" data-perfil-tab="atividades">
            <h4>Seu Desenvolvimento</h4>
            <img src="/imagens/tempo_online.png">

            <thead>
              <tr>
                  <th>Dom</th>
                  <th>Seg</th>
                  <th>Ter</th>
                  <th>Qua</th>
                  <th>Qui</th>
                  <th>Sex</th>
                  <th>Sab</th>
              </tr>
          </thead>
            
          <tbody>
              <tr>                  
                  <td>1</td>
                  <td>2</td>
                  <td>3</td>
                  <td>4</td>
                  <td>5</td>
                  <td>6</td>
                  <td>7</td>
              </tr>
              <tr></tr>
              <tr>
                  <td>8</td>
                  <td>9</td>
                  <td>10</td>
                  <td>11</td>
                  <td>12</td>
                  <td>13</td>
                  <td>14</td>
              </tr>
              <tr>
                  <td>15</td>
                  <td>16</td>
                  <td>17</td>
                  <td>18</td>
                  <td>19</td>
                  <td>20</td>
                  <td>21</td>
              </tr>
              <tr>
                  <td>22</td>
                  <td>23</td>
                  <td>24</td>
                  <td>25</td>
                  <td>26</td>
                  <td>27</td>
                  <td>28</td>
              </tr>
              <tr>
                  <td>29</td>
                  <td>30</td>
                  <td>31</td>
              </tr>
          </tbody>
      </table>

          <img src="/imagens/atividades_online.png" alt="">

          </div>
        </div>
      </div>
    </main>

    <%- include('../templates/footer.ejs') %>
  </body>
</html>